<div class="row">
    <div class="col s12">
        <h2>Dashboard</h2>
    </div>
</div>

<div class="row">
    <div class="col s12 l4">
        <div class="card blue darken-3">
            <div class="card-content dashboard-card">
                <i class="material-icons large icon-white">image</i>
                <div class="dashboard-card-number">
                    <div class="dashboard-number white-text">{{paintings.length}}</div>
                    <div class="white-text">Anzahl deiner Paintings</div>
                </div>
            </div>
        </div>
    </div>
    <div class="col s12 m6 l4">
        <div class="card blue darken-3">
            <div class="card-content dashboard-card">
                <i class="material-icons large icon-white">person</i>
                <div class="dashboard-card-number">
                    <div class="dashboard-number white-text">0</div>
                    <div class="white-text">Paintings die du von anderen magst</div>
                </div>
            </div>
        </div>
    </div>
    <div class="col s12 m6 l4">
        <div class="card blue darken-3">
            <div class="card-content dashboard-card">
                <i class="material-icons large icon-white">people</i>
                <div class="dashboard-card-number">
                    <div class="dashboard-number white-text">0</div>
                    <div class="white-text">Paintings die andere von dir mögen</div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col s12">
        <h2>Deine Paintings</h2>
        {{#if paintings}}
        <div class="row">
            {{#each paintings}}
            <div class="col s12 m6">
                <div class="card">
                    <div class="card-image">
                        <img src={{image}}>
                        <a class="btn-floating btn-large halfway-fab waves-effect waves-light red"><i
                                class="material-icons">edit</i></a>
                    </div>
                    <div class="card-content">
                        <span class="card-title black-text">{{title}}</span>

                        <div class="dashboard-picture-meta-data">
                            <div>
                                <span>{{createdAt}}</span>
                            </div>

                            <div class="dashboard-picture-favorites">
                                <i class="material-icons small icon-red">favorite</i>
                                <span>0</span>
                            </div>
                        </div>

                    </div>
                    <div class="card-action">
                        <a href="/painting/{{id}}" class="btn blue darken-3">Ansehen</a>
                    </div>
                </div>

            </div>
            {{/each}}
        </div>
        {{else}}
        <p>Du hast bisher noch keine Paintings erstellt.</p>
        {{/if}}
    </div>
</div>