<div class="row paintings-search-header">
    <div class="col s12">
        <h3>Schaue dir die Paintings der anderen an. 🤗</h3>
    </div>
    <div class="col s12 white-text">
        <a class='dropdown-trigger btn blue darken-3' href='#' data-target='dropdown1'>Sortierung</a>
        <ul id='dropdown1' class='dropdown-content'>
            <li><a href="#!">one</a></li>
            <li><a href="#!">two</a></li>
            <li class="divider" tabindex="-1"></li>
            <li><a href="#!">three</a></li>
            <li><a href="#!"><i class="material-icons">view_module</i>four</a></li>
            <li><a href="#!"><i class="material-icons">cloud</i>five</a></li>
        </ul>
    </div>
</div>

{{#if paintings}}
<div class="row">
    {{#each paintings}}
    <div class="col s12 m6">
        <div class="card">
            <div class="card-image">
                <img src={{image}}>
                <a class="btn-floating btn-large halfway-fab waves-effect waves-light red">
                    <i class="material-icons">favorite</i>
                </a>
            </div>
            <div class="card-content">
                <span class="card-title black-text">{{title}}</span>

                <div class="dashboard-picture-meta-data">
                    <div>
                        <span>{{createdAt}}</span>
                    </div>

                    <div class="dashboard-picture-favorites">
                        <i class="material-icons small icon-red">favorite</i>
                        <span>0</span>
                    </div>
                </div>

            </div>
            <div class="card-action">
                <a href="/painting/{{id}}" class="btn blue darken-3">Ansehen</a>
            </div>
        </div>

    </div>
    {{/each}}
</div>
{{else}}
<p>Es gibt bisher noch keine Paintings.</p>
{{/if}}